0 */2 * * * ees_networkdrive incremental-sync >> ~/incremental-sync.log
0 0 */2 * * ees_networkdrive full-sync >> ~/full-sync.log
0 * * * * ees_networkdrive deletion-sync >> ~/deletion-sync.log
*/5 * * * * ees_networkdrive permission-sync >> ~/permission-sync.log